h1 {
  color: black; }

.card-course-item {
  margin: 20px 0; }

.use-avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 4px; }

.checkbox-select-all-options {
  width: 200px;
  margin: 0px 16px; }
